---
---

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

/* Custom styles for Tom Harris website */

/* Make avatar square */
.author__avatar img {
  border-radius: 0 !important;
  max-width: 150px !important;
  height: auto !important;
}
